header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightgoldenrodyellow;
  color: darkmagenta;
}

h5 {
  padding-left: 8px;
}
.header-links {
  width: 80%;
  display: flex;
  padding-left: 0px;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
  color: red;
  font-size: small;
}

@media (min-width: 550px) {
  .header-links {
    font-size: medium;
  }
}
